{
    "cage_api": {
        "host":     "",
        "username": "",
        "password": "",
        "database": "postgres"
    },
    "cage": {
        "host":     "",
        "username": "",
        "password": "",
        "database": "cage"
    },
    "dugout": {
        "host":     "",
        "username": "",
        "password": "",
        "database": "dugout"
    }
}
