import os 

# Database connections and credentials 
# basecoach has R on cage, RW on dugout


os.environ['dugout'] = 'postgres://basecoach:wavethemin@localhost/dugout'
os.environ['cage'] = 'postgres://basecoach:wavethemin@172.104.15.153/cage'  
 

BP_DUGOUT_URL = os.environ['dugout']
BP_CAGE_URL = os.environ['cage'] 


